#main {
	float: left;
	width: 100%;
	min-height: calc(100% - 50px);
}

#main.largecolumn {
	width: 80%;
}

@media (max-width:960px) {
	#main.largecolumn {
		width: 100%;
	}
}

.content {
	width: 85%;
	margin-bottom: 20px;
}

@media (max-width:1200px) {
	.content {
		float: none;
		width: 90%;
	}
}

.panel {
	border: 0;
}


::-webkit-scrollbar {
	max-width: 10px;
	min-width: 4px;
	width: 1%;
	height: 4px;
	transition: all 0.1s linear;
	border-radius: 50%;
}


::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0);
}


::-webkit-scrollbar-track:hover {
	background: rgba(0, 0, 0, .2);
}


::-webkit-scrollbar-thumb {
	background: #a5abb1;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}



.md-button.md-raised.twitch-button {
	background-color: #6441a5;
	color: white;
}

.md-button.md-raised:not([disabled]):hover.twitch-button {
	background-color: #B9A3E3;
}

.header {
	height: 50px;
	width: 100%;
	background-color: #19191F;
}

.header a, .header a:hover, .header a:visited, .header a:active {
	text-decoration: none;
	margin: 0 10px;
	font-size: 20px;
	opacity: 0.7;
	color: white;
}

.header a.active {
	opacity: 1;
}

.usermenu {
	background-color: #19191F;
	position: absolute;
	top: 50px;
	left: 0;
	padding: 8px 15px;;
	width: 200px;
	z-index: 999;
	color: white;
}

.fab-nobackground {
	background-color: transparent !important;
}


.nobottom .md-errors-spacer, md-autocomplete[md-floating-label] md-input-container .md-errors-spacer {
	display: none;
}

md-input-container.nobottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

md-input-container.notop {
	margin-top: 0;
}

.md-button.md-small {
	line-height: 20px;
	min-height: 0;
	min-width: 0;
	font-size: 12px;
	padding: 5px 10px;
}

md-checkbox.darkbg .md-icon {
	border-color: rgba(255,255,255,0.54);
}

.hide-gt-s {
	display: none;
}
@media (max-width:700px) {
	.md-button.md-small-xs {
		line-height: 20px;
		min-height: 0;
		min-width: 0;
		font-size: 12px;
		padding: 5px 10px;
	}
	
	.header a, .header a:hover, .header a:visited, .header a:active {
		margin: 0 7px;
		font-size: 15px;
	}
	
	.hide-s {
		display: none;
	}
	
	.hide-gt-s {
		display: inherit;
	}
}

div.big-error-icon md-icon {
	font-size: 60px;
	color: #c00;
}

div.big-error-icon {
	width: 60px;
	height: 60px;
	margin: 10px;
}

/* footer */
div[ng-include] {
	width: 100%;
}

.footer {
	width: 100%;
	background-color: white;
	height: 36px;
}

.footer img {
	padding: 0;
	height: 20px;
	vertical-align: middle;
}

.footer a, .footer a:visited, .footer a:hover, .footer a:active {
	text-decoration: none;
	color: #66757f;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.contacts a, .contacts a:visited, .contacts a:hover, .contacts a:active {
	text-decoration: none;
	color: #66757f;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.rightbutton {
	float: right;
	margin: 0;
	padding 0;
}

.closedialog {
	display: block;
	order: 2;
}

div.inline {
	display: inline-block;
}

img.logo {
	width: 20px;
    vertical-align: middle;
}

#forkongithub a {
	background: #000;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	padding: 5px 40px;
	font-size: 1rem;
	line-height: 2rem;
	position: relative;
	transition: 0.5s;
}

#forkongithub a:hover {
	background: #c11;
	color: #fff;
}

#forkongithub a::before, #forkongithub a::after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	top: 1px;
	left: 0;
	height: 1px;
	background: #fff;
}

#forkongithub a::after {
	bottom: 1px;
	top: auto;
}

@media screen and (min-width: 700px) {
	#forkongithub {
		position: absolute;
		display: block;
		left: 0;
		width: 200px;
		overflow: hidden;
		height: 200px;
	}

	#forkongithub a {
		width: 200px;
		position: absolute;
		top: 60px;
		left: -60px;
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
	}
}

.leftpad {
	padding-left: 8px;
}