.content.index-page-content {
	width: 75%;
}


.channel-list-item {
	display: inline-block;
}

.channel-live-indicator.live md-icon svg {
	fill: red;
}

h1.bigtitle {
	font-weight: 100;
	font-size: 72px;
	margin-bottom: 0;
}

h5.bigtitle {
	margin-top: 0;
}

@media (max-width:599px) {
	h1.bigtitle {
		font-size: 50px;
	}
}

a.greylink {
	color: #999;
}