/* layout */
div { outline-style:none; }

#chat {
	width: 20%;
	min-width: 250px;
	height: calc(100% - 50px);
	position: fixed;
	right: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

#chat iframe {
	height: 100%;
	width: 100%;
}

@media (max-width:960px) {
	#chat {
		display: none;
	}
}
@media (min-width:960px) {
	#main.largecolumn {
		max-width: calc(100% - 250px);
	}
}

/* user view */

.userlogsview
{
	margin: 15px 0;
}

.logview .username
{
	font-size: large;
	font-weight: bold;
}


.logview
{
	border: 1px rgba(194,194,194, 0.4) solid;
	box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.14);
	margin-bottom: 10px;
}

.button-row {
}

.btn-close:hover {
	color: #999;
}

.btn-close {
	position: absolute;
	right: 0;
}

.panel-heading {
	position: relative;
}

.userstats {
	width: 200px;
	margin: 0 5px;
}

.logviewer-comment .text {
	white-space: pre-wrap;
}

.writecomment {
	margin-top: 20px;
	font-size: 14px;
}

.writecomment md-input-container {
	width: 50%;
	min-width: 200px;
}

.comment-editing-buttons .editing-button {
    margin: 0;
    min-height: 0;
    height: 20px;
    min-width: 0;
    width: 20px;
    padding: 0;
}

.comment-editing-buttons .editing-button md-icon {
    font-size: 16px;
    height: 20px;
    width: 20px;
}

.comment-editing md-input-container {
	width: 100%;
}

.comment-editing .md-button {
	float: right;
}

/* Add animation */
.logview.ng-enter.ng-enter-active, 
.logview.ng-leave {
	opacity: 1;
	-webkit-transition: opacity 100ms linear;
	-moz-transition: opacity 100ms linear;
	transition: opacity 100ms linear;
}

/* Remove animation */
.logview.ng-leave.ng-leave-active, 
.logview.ng-enter {
	opacity: 0;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	transition: all 100ms linear;
}

/* chat messages */

/* more messages buttons */
.logviewer-round-button {
	padding: 0px 20px;
	border-radius: 20px;
}

div.logviewer-more-messages md-button {
	margin-top: 0;
}

div.logviewer-more-messages .md-primary:hover, div.logviewer-more-messages .md-primary:focus {
	background-color: #2674F2 !important;
}

/* "More above/below" */
/* chat messages */

.logview .logviewer-message {
	font-size: 15px;
}

span.logviewer-time {
	font-size: 0.9em;
	color: #666;
	margin-right: 2px;
}

span.logviewer-chat-action {
	font-style: italic;
}

span.logviewer-colon {
	padding-right: 5px;
}

img.logviewer-badge {
	margin-right: 2px;
	height: 1em;
}

.logviewer-message {
	word-break: break-word;
}

img.emote {
	height: 1.5em;
	margin-top: -0.25em;
	margin-bottom: -0.25em;
}

.logviewer-disabled-message {
	opacity: 0.3;
}

.logviewer-selected-message {
	background-color: rgba(105,105,105,0.25);
}

.logviewer-clickable-message {
	cursor: pointer;
}

.logviewer-chat-text.status-msg {
	color: #333;
}

/* comments */
.logviewer-comment {
  background-color: #eee;
  border-radius:5px;
  margin: 20px;
  padding: 5px;
  max-width:500px;
  position: relative;
}

.logviewer-comment img {
  height: 34px;
  width: 34px;
  border-radius: 25px;
  margin: 0 5px 0 0;
}

.logviewer-comment:before {
	content: "";
	position: absolute;
	top: 15px;
	left: -20px;
	border: 10px solid transparent;
	border-right-color: #eee;
	display: block;
}

.logviewer-comment .author {
  font-weight: bold;
}

.logviewer-comment .age {
  font-size: 12px;
}