<div id="main" ng-click="unselect($event,this)">
<div class="content" ng-cloak ng-if="!loaded" layout="row" layout-align="center center">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular> loading...
</div>
<div class="content" ng-cloak ng-if="loaded && userObject.level < channelsettings.viewlogs" layout="row" layout-align="center center">
	<div flex="none" class="big-error-icon">
		<md-icon>error</md-icon>
	</div>
	<div style="font-size: 20px;" flex="none">
		 You currently do not have access to view logs of the channel {{channel}}.<br>
		<span ng-if="userObject.valid == false">If you have {{channelsettings.viewlogs | aAnAccountType}} account, then you can <md-button ng-click="login()" class="md-raised twitch-button small-button">Login with twitch</md-button></span>
	</div>
</div>
<div class="content" ng-cloak ng-if="loaded && userObject.level >= channelsettings.viewlogs">
	<h2>Log info for channel {{channel}}</h2>
	<div id="adduserform">
		<form ng-submit="submitAddUserForm()" class="navbar-form">
			<div class="form-group">
				<md-input-container class="nobottom">
					<input class="form-control" type="text" placeholder="User name" style="min-width: 10em" ng-model="username">
				</md-input-container>
				<md-button class="btn md-raised md-primary" type="submit">ADD</md-button>
				<md-button class="btn md-raised md-primary" type="button" ng-click="addUser('twitchnotify')">RECENT SUBSCRIBERS</md-button>
				<md-button class="btn md-raised md-primary" type="button" ng-click="clearUsers()">CLEAR ALL</md-button>
			</div>
		</form>
	</div>
	<div class="userlogsview layout-padding">
		<div ng-repeat="user in users | orderObjectBy:'id':true" class="panel panel-default logview z-depth-1">
			<div class="panel-heading" layout="column">
				<md-button class="btn-close md-primary md-icon-button" ng-click="delUser(user.data.nick)">
					<md-icon class="md-primary">close</md-icon>
				</md-button>
				<div flex="none" layout="column" layout-align="center center">
					<span class="username" flex="none">{{user.data.nick}} </span>
					<div layout="row" layout-align="center center" flex="1">
						<span class="userstats" flex="none" style="text-align: right;">Messages: {{user.data.messages}}</span>
						<span class="userstats" flex="none">Timeouts: {{user.data.timeouts}}</span>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div ng-if="user.messages.length > 0">
					<div class="logviewer-more-messages" ng-class="{true:'logviewer-loading', false:''}[user.isloading]" align="center" ng-if="user.allloaded == false">
						<md-button class="btn md-raised md-primary logviewer-spin-icon logviewer-round-button" ng-click="moreUser(user.data.nick)">
							<md-icon class="md-primary">loop</md-icon> Load more
						</md-button>
					</div>
					<div class="logviewer-chat-message-block" ng-repeat="message in user.messages" data-messageid="{{message.id}}">
						<!-- button to load more before -->
						<div class="logviewer-more-context" ng-show="selectedID === message.id" ng-class="{'logviewer-loading': user.isloadingContext.before}" ng-click="moreContext(user.data.nick,'before',10)">
							<md-button class="btn md-raised md-primary logviewer-arrows-up logviewer-round-button">
								<md-icon class="md-primary">keyboard_arrow_up</md-icon>
								Load more
							</md-button>
						</div>
						<!-- context before -->
						<div class="logviewer-chat-message logviewer-context-message" ng-show="selectedID === message.id" ng-repeat="messageBefore in message.before">
							<span class="logviewer-time">{{messageBefore.time | secondsTimestamp | date : 'MM/dd/yyyy hh:mm a'}}</span>
							<span class="logviewer-message" ng-bind-html='messageBefore.text | chatLine'></span>
						</div>
						<!-- the message -->
						<div class="logviewer-chat-message" 
							ng-class="{
								'logviewer-clickable-message': selectedID === null, 
								'logviewer-disabled-message':(selectedID !== null) && (selectedID !== message.id), 
								'logviewer-selected-message': selectedID === message.id
							}" 
							ng-click="selectMessage(message.id)">
							<span class="logviewer-time">{{message.time | secondsTimestamp | date : 'MM/dd/yyyy hh:mm a'}}</span>
							<span class="logviewer-message" ng-bind-html='message.text | chatLine'></span>
						</div>
						<!-- context after -->
						<div class="logviewer-chat-message logviewer-context-message" ng-show="selectedID === message.id" ng-repeat="messageAfter in message.after">
							<span class="logviewer-time">{{messageAfter.time | secondsTimestamp | date : 'MM/dd/yyyy hh:mm a'}}</span>
							<span class="logviewer-message" ng-bind-html='messageAfter.text | chatLine'></span>
						</div>
						<!-- button to load more after -->
						<div class="logviewer-more-context" ng-show="selectedID === message.id" ng-class="{'logviewer-loading': user.isloadingContext.after}">
							<md-button class="btn md-raised md-primary logviewer-arrows-down logviewer-round-button" ng-click="moreContext(user.data.nick,'after',10)">
								<md-icon class="md-primary">keyboard_arrow_down</md-icon>
								Load more
							</md-button>
						</div>
					</div>
				</div>
				<div ng-if="user.messages.length == 0">No recorded chat messages found.</div>
				<div ng-if="user.isloading">Loading...</div>
				<div ng-repeat="comment in user.comments" layout="row" class="logviewer-comment">
					<div flex="none">
						<img ng-src="{{profilePics[comment.author]}}">
					</div>
					<div flex="1" layout="column">
						<div flex="1" layout="row" layout-align="space-between start">
							<div flex="none">
								<span class="author">{{comment.author}}</span> <span class="age">{{comment|commentAge}}</span>
							</div>
							<div flex="none" class="comment-editing-buttons">
								<md-button class="editing-button md-icon-button" ng-show="userObject.level >= channelsettings.writecomments || userObject.name == comment.author" ng-click="editComment(comment)">
									<md-icon>mode_edit</md-icon>
								</md-button>
								<md-button class="editing-button md-icon-button" ng-click="deleteComment(comment)" ng-show="userObject.level >= channelsettings.deletecomments || userObject.name == comment.author">
									<md-icon>delete</md-icon>
								</md-button>
							</div>
						</div>
						<div class="text" flex="none" ng-hide="editingComment == comment.id">{{comment.text}}</div>
						<div class="comment-editing" flex="none" ng-if="editingComment == comment.id">
							<md-input-container class="nobottom notop">
								<textarea ng-model="comment.text"></textarea>
							</md-input-container>
							<md-button ng-click="cancelUpdate(comment)" class="md-raised md-primary">CANCEL</md-button>
							<md-button ng-click="updateComment(comment)" class="md-raised md-primary">SAVE</md-button>
						</div>
					</div>
				</div>
				<div class="writecomment" ng-if="userObject.level >= channelsettings.writecomments" layout="row" layout-align="start end">
					<md-input-container class="nobottom" flex="none">
						<label>Write a comment about {{user.data.nick}}</label>
						<textarea ng-model="newcomments[user.data.nick]"></textarea>
					</md-input-container>
					<md-button ng-click="addComment(user.data.nick)" class="md-raised md-primary md-small" flex="none">SEND</md-button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div ng-controller="ChatController as chatCtrl" id="chat" scroll-to-bottom>
	<!-- chat messages -->
	<div class="logviewer-chat-message-block" ng-repeat="message in chatCtrl.messages">
		<div class="logviewer-chat-message" ng-click="chatCtrl.selectMessage(message)">
			<span class="logviewer-time">{{message.time | date : 'shortTime'}}</span>
			<span class="logviewer-message" ng-bind-html='message.message | chatLine'></span>
		</div>
	</div>
</div>
</div>