<div id="main" ng-click="unselect($event,this)" layout="column" layout-align="space-between center" ng-class="{largecolumn: userSettings.chat, rhs: userSettings.lhsChat}" ng-cloak>
<div class="content" ng-cloak ng-if="loadStatus == 0" layout="row" layout-align="center center">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular> loading...
</div>
<div ng-if="loadStatus == -1"><!-- empty div for space-between centering --></div>
<div class="content" ng-cloak ng-if="loadStatus == -1" layout="row" layout-align="center center" layout-xs="column">
	<div flex="none" class="big-error-icon">
		<md-icon md-svg-src="/html/img/error.svg"></md-icon>
	</div>
	<div style="font-size: 20px;" flex="none">
		 Channel {{::channel}} not found.<br>
		<span ng-if="userObject.level >= 10">If you want to add the logviewer to the channel, then head over to the 
		<a ui-sref="settings({channel: $stateParams.channel})" ng-if="$stateParams.channel">settings</a>.</span>
	</div>
</div>
<div ng-if="loadStatus == 1 && userObject.level < channelsettings.viewlogs"><!-- empty div for space-between centering --></div>
<div class="content" ng-cloak ng-show="loadStatus == 1 && userObject.level < channelsettings.viewlogs" layout="row" layout-align="center center" layout-xs="column">
	<div flex="none" class="big-error-icon" flex="none">
		<md-icon md-svg-src="/html/img/error.svg"></md-icon>
	</div>
	<div style="font-size: 20px;" flex="none" layout="column">
		<span>You currently do not have access to view logs of the channel {{::channel}}.</span><br>
		<span ng-if="userObject.valid == false">If you have {{::channelsettings.viewlogs | aAnAccountType}} account, then you can <md-button ng-click="login()" class="md-raised twitch-button md-small">Login with twitch</md-button></span>
	</div>
</div>
<div class="content" ng-cloak ng-show="loadStatus == 1 && userObject.level >= channelsettings.viewlogs" flex="100" layout="column">
	<md-tabs layout="column" flex="100" md-selected="selectedTab">
		<md-tab label="User logs" flex="100">
			<md-tab-content flex="100">
				<h2 class="hide-s">User logs for channel {{::channelsettings.name}}</h2>
				<h2 class="hide-gt-s">Logs for channel {{::channelsettings.name}}</h2>
				<div id="adduserform">
					<form ng-submit="submitAddUserForm()" class="navbar-form">
						<div class="form-group" layout="row" layout-wrap>
							<div flex="noshrink">
								<md-autocomplete class="form-control" type="text" style="min-width: 10em"
										md-input-name="usernameField"
										md-items="item in userSearch(typedUserSearch)"
										md-search-text="typedUserSearch"
										md-selected-item="username"
										md-item-text="item"
										md-min-length="4"
										md-autoselect="true"
										md-no-cache="true"
										md-select-on-match="true"
										md-match-case-insensitive="true"
										md-floating-label="User name">
									<span md-highlight-text="typedUserSearch" md-highlight-flags="^i">{{item}}</span>
								</md-autocomplete>
							</div>
							<div class="button-row" flex="none">
								<md-button class="btn md-raised md-primary" type="submit">ADD</md-button>
								<md-button class="btn md-raised md-primary" type="button" ng-click="addUser('twitchnotify')">RECENT SUBS<span class="hide-s">CRIBERS</span></md-button>
								<md-button class="btn md-raised md-primary" type="button" ng-click="clearUsers()">CLEAR ALL</md-button>
							</div>
						</div>
					</form>
				</div>
				<div class="userlogsview layout-padding">
					<div ng-repeat="user in users | orderObjectBy:'id':true" class="panel panel-default logview z-depth-1" layout="column">
						<div class="panel-heading" layout="row" flex="none" layout-align="space-between stretch">
							<div><!-- empty div for centering --></div>
							<div flex layout="column" layout-align="center stretch" class="userheader">
								<span class="userstats username" layout="row" flex="100" layout-align="space-around center">{{user.data.nick}}</span>
								<div layout="row" layout-align="space-around center" flex="100">
									<span class="userstats" flex="33" hide-xs>Messages: {{user.data.messages}}</span>
									<span class="userstats" flex="33" hide-xs>Timeouts: {{user.data.timeouts}}</span>
									<span class="userstats" flex="33" hide-xs>Bans: {{user.data.bans}}</span>
									<span flex="33" hide-gt-xs class="userstats"><md-icon md-svg-src="/html/img/messages.svg"><md-tooltip>Messages</md-tooltip></md-icon> {{user.data.messages}}</span>
									<span flex="33" hide-gt-xs class="userstats"><md-icon md-svg-src="/html/img/timeout.svg"><md-tooltip>Timeouts</md-tooltip></md-icon> {{user.data.timeouts}}</span>
									<span flex="33" hide-gt-xs class="userstats"><md-icon md-svg-src="/html/img/ban.svg"><md-tooltip>Bans</md-tooltip></md-icon> {{user.data.bans}}</span>
								</div>
							</div>
							<md-button class="btn-close md-primary md-icon-button" ng-click="delUser(user.data.nick)" flex="none">
								<md-icon class="md-primary" md-svg-src="/html/img/close.svg"></md-icon>
							</md-button>
						</div>
						<div class="panel-body" flex="none">
							<div ng-if="user.messages.length > 0">
								<div class="logviewer-more-messages" ng-class="{'logviewer-loading': user.isloading}" align="center" ng-if="user.allloaded == false">
									<md-button class="btn md-raised md-primary logviewer-spin-icon logviewer-round-button" ng-click="moreUser(user.data.nick)">
										<md-icon class="md-primary" md-svg-src="/html/img/loop.svg"></md-icon> Load more
									</md-button>
								</div>
								<div class="logviewer-chat-message-block" ng-repeat="message in user.messages">
									<!-- button to load more before -->
									<div class="logviewer-more-context" ng-show="selectedID === message.id" ng-class="{'logviewer-loading': user.isloadingContext.before}" ng-click="moreContext(user.data.nick,'before',10)">
										<md-button class="btn md-raised md-primary logviewer-arrows-up logviewer-round-button">
											<md-icon class="md-primary" md-svg-src="/html/img/keyboard_arrow_up.svg"></md-icon>
											Load more
										</md-button>
									</div>
									<!-- context before -->
									<div class="logviewer-chat-message logviewer-context-message" ng-show="selectedID === message.id" ng-repeat="messageBefore in message.before">
										<span class="logviewer-time hide-s">
											<!-- vod link -->
											<md-button ng-href="{{messageBefore.video.url}}" target="_blank" ng-class="messageBefore.video.classname" class="md-primary md-icon-button videobutton" ng-disabled="!messageBefore.video">
												<md-tooltip ng-if="messageBefore.video.tooltip" ng-bind-html="messageBefore.video.tooltip" class="md-primary vod-tooltip" md-direction="right" md-delay="256">
												</md-tooltip>
												<md-icon class="md-primary" md-svg-src="/html/img/vod.svg"></md-icon>
											</md-button>
											<!-- timestamp -->
											{{messageBefore.time | secondsTimestamp | date : 'yyyy/MM/dd hh:mm a'}}
										</span>
										<span class="logviewer-message" ng-bind-html='messageBefore.text | chatLine'></span>
										<span ng-if="messageBefore.modlog | isntEmpty" class="logviewer-modlog-text">(By: {{modLogList(messageBefore.modlog)}})
											<md-tooltip md-direction="top">
												<table>
													<tr ng-repeat="(user, time) in messageBefore.modlog">
														<td>{{user}}</td><td>{{modLogDisplay(time)}}</td>
													</tr>
												</table>
											</md-tooltip>
										</span>
									</div>
									<!-- the message -->
									<div class="logviewer-chat-message" 
										ng-class="{
											'logviewer-clickable-message': selectedID === null, 
											'logviewer-disabled-message':(selectedID !== null) && (selectedID !== message.id), 
											'logviewer-selected-message': selectedID === message.id
										}" 
										ng-click="selectMessage(user.data.nick, message.id)">
										<span class="logviewer-time hide-s">
											<!-- vod link -->
											<md-button ng-href="{{message.video.url}}" target="_blank" ng-class="message.video.classname" class="md-primary md-icon-button videobutton" ng-disabled="!message.video">
												<md-tooltip ng-if="message.video.tooltip" ng-bind-html="message.video.tooltip" class="md-primary vod-tooltip" md-direction="right" md-delay="256">
												</md-tooltip>
												<md-icon class="md-primary" md-svg-src="/html/img/vod.svg"></md-icon>
											</md-button>
											<!-- timestamp -->
											{{message.time | secondsTimestamp | date : 'yyyy/MM/dd hh:mm a'}}
										</span>
										<span class="logviewer-message" ng-bind-html='message.text | chatLine'></span>
										<span ng-if="message.modlog | isntEmpty">(By: {{modLogList(message.modlog)}})
											<md-tooltip md-direction="top">
												<table>
													<tr ng-repeat="(user, time) in message.modlog">
														<td>{{user}}</td><td>{{modLogDisplay(time)}}</td>
													</tr>
												</table>
											</md-tooltip>
										</span>
									</div>
									<!-- context after -->
									<div class="logviewer-chat-message logviewer-context-message" ng-show="selectedID === message.id" ng-repeat="messageAfter in message.after">
										<span class="logviewer-time hide-s">
											<!-- vod link -->
											<md-button ng-href="{{messageAfter.video.url}}" target="_blank" ng-class="messageAfter.video.classname" class="md-primary md-icon-button videobutton" ng-disabled="!messageAfter.video">
												<md-tooltip ng-if="messageAfter.video.tooltip" ng-bind-html="messageAfter.video.tooltip" class="md-primary vod-tooltip" md-direction="right" md-delay="256">
												</md-tooltip>
												<md-icon class="md-primary" md-svg-src="/html/img/vod.svg"></md-icon>
											</md-button>
											<!-- timestamp -->
											{{messageAfter.time | secondsTimestamp | date : 'yyyy/MM/dd hh:mm a'}}
										</span>
										<span class="logviewer-message" ng-bind-html='messageAfter.text | chatLine'></span>
										<span ng-if="messageAfter.modlog | isntEmpty">(By: {{modLogList(messageAfter.modlog)}})
											<md-tooltip md-direction="top">
												<table>
													<tr ng-repeat="(user, time) in messageAfter.modlog">
														<td>{{user}}</td><td>{{modLogDisplay(time)}}</td>
													</tr>
												</table>
											</md-tooltip>
										</span>
									</div>
									<!-- button to load more after -->
									<div class="logviewer-more-context" ng-show="selectedID === message.id" ng-class="{'logviewer-loading': user.isloadingContext.after}">
										<md-button class="btn md-raised md-primary logviewer-arrows-down logviewer-round-button" ng-click="moreContext(user.data.nick,'after',10)">
											<md-icon class="md-primary" md-svg-src="/html/img/keyboard_arrow_down.svg"></md-icon>
											Load more
										</md-button>
									</div>
								</div>
								<!-- button to load new messages that got added after this user was added -->
								<div class="logviewer-more-messages" ng-class="{'logviewer-loading': user.isloadingnew}" align="center" ng-if="user.newmessages == true">
									<md-button class="btn md-raised md-primary logviewer-spin-icon logviewer-round-button" ng-click="moreUser(user.data.nick)">
										<md-icon class="md-primary" md-svg-src="/html/img/loop.svg"></md-icon> Load newer
									</md-button>
								</div>
							</div>
							<div ng-if="user.messages.length == 0">No recorded chat messages found.</div>
							<div ng-if="user.isloading">Loading...</div>
							<div ng-repeat="comment in user.comments" layout="row" class="logviewer-comment">
								<div flex="none">
									<img ng-src="{{::profilePics[comment.author]}}">
								</div>
								<div flex="100" layout="column">
									<div flex="100" layout="row" layout-align="space-between start">
										<div flex="none">
											<span class="author">{{::comment.author}}</span> <span class="age">{{comment|commentAge}}</span>
										</div>
										<div flex="none" class="comment-editing-buttons">
											<md-button class="editing-button md-icon-button" ng-show="userObject.level >= channelsettings.writecomments && userObject.name == comment.author" ng-click="editComment(comment)">
												<md-icon md-svg-src="/html/img/edit.svg"></md-icon>
											</md-button>
											<md-button class="editing-button md-icon-button" ng-click="deleteComment(comment)" ng-show="userObject.level >= channelsettings.deletecomments || userObject.name == comment.author">
												<md-icon md-svg-src="/html/img/delete.svg"></md-icon>
											</md-button>
										</div>
									</div>
									<div class="text" flex="none" ng-hide="editingComment == comment.id" ng-bind-html="comment.text | linkify"></div>
									<div class="comment-editing" flex="none" ng-if="editingComment == comment.id">
										<md-input-container class="nobottom notop">
											<textarea ng-model="comment.text"></textarea>
										</md-input-container>
										<md-button ng-click="cancelUpdate(comment)" class="md-raised md-primary">CANCEL</md-button>
										<md-button ng-click="updateComment(comment)" class="md-raised md-primary">SAVE</md-button>
									</div>
								</div>
							</div>
							<div class="writecomment" ng-if="userObject.level >= channelsettings.writecomments" layout="row" layout-align="start end">
								<md-input-container class="nobottom" flex="none">
									<label>Write a comment about {{::user.data.nick}}</label>
									<textarea ng-model="newcomments[user.data.nick]"></textarea>
								</md-input-container>
								<md-button ng-click="addComment(user.data.nick)" class="md-raised md-primary md-small" flex="none">SEND</md-button>
							</div>
							<div class="writecomment" ng-if="userObject.level < channelsettings.viewcomments" layout="row" layout-align="start end">
								You currently do not have permission to read comments. 
								<span ng-if="userObject.valid == false">If you have {{::channelsettings.viewcomments | aAnAccountType}} account, then please <a href="#" ng-click="login()">log in</a></span>
							</div>
							<div class="writecomment" ng-if="userObject.level >= channelsettings.viewcomments && userObject.level < channelsettings.writecomments" layout="row" layout-align="start end">
								You currently do not have permission to write comments.
								<span ng-if="userObject.valid == false">If you have {{::channelsettings.writecomments | aAnAccountType}} account, then please <a href="#" ng-click="login()">log in</a></span>
							</div>
						</div>
					</div>
				</div>
			</md-tab-content>

		</md-tab>
		<md-tab flex="100">
			<md-tab-label>Full log</md-tab-label>
			<md-tab-body>
				<md-tab-content flex="100" layout="column">
					<h2 class="hide-s" flex="none">Full logs for channel {{::channelsettings.name}}</h2>
					<h2 class="hide-gt-s" flex="none">Logs for channel {{::channelsettings.name}}</h2>
					<span>Jump to date: <md-datepicker ng-model="chosendate" ng-change="allLines.gotoDate(chosendate)" class=""></md-datepicker></span>
					
					<md-virtual-repeat-container md-top-index="allLines.topindex" class="infinite-scroll-container panel panel-default logview z-depth-1" ng-if="selectedTab == 1" flex="100">
						<div md-virtual-repeat="message in allLines" class="logviewer-chat-message infinite-scroll-item" md-on-demand="">
							<div>
								<span class="logviewer-time hide-s" ng-show="message.time">
									<!-- vod link -->
									<md-button ng-href="{{message.video.url}}" target="_blank" ng-class="[message.video.classname, 'videobutton', 'md-icon-button']" class="md-primary md-icon-button videobutton" ng-disabled="!message.video">
										<md-tooltip ng-if="message.video.tooltip" ng-bind-html="message.video.tooltip" class="md-primary vod-tooltip" md-direction="right" md-delay="256">
										</md-tooltip>
										<md-icon class="md-primary" md-svg-src="/html/img/vod.svg"></md-icon>
									</md-button>
									<!-- timestamp -->
									{{message.time | secondsTimestamp | date : 'yyyy/MM/dd hh:mm a'}}
								</span>
								<span class="logviewer-message" ng-bind-html='message.text | chatLine'></span>
								<span ng-if="message.modlog | isntEmpty">(By: {{modLogList(message.modlog)}})
									<md-tooltip md-direction="top">
										<table>
											<tr ng-repeat="(user, time) in message.modlog">
												<td>{{user}}</td><td>{{modLogDisplay(time)}}</td>
											</tr>
										</table>
									</md-tooltip>
								</span>
							</div>
						</div>
					</md-virtual-repeat-container>
					<div ng-if="allLogs.endoflogs">End of logs reached.</div>
				</md-tab-content>
			</md-tab-body>
		</md-tab>
	</md-tabs>
</div>
<div ng-include="'/html/footer.html'"></div>
</div>
<div id="chat" ng-if="userSettings.chat" ng-class="{lhs: userSettings.lhsChat}">
	<iframe ng-src="{{chatEmbedUrl()}}" frameborder="0" scrolling="no"></iframe>
</div>
</div>