<div class="md-whiteframe-3dp footer" layout="row" layout-align="space-between center">
	<span class="hide-s leftpad">
		Made with <img src="{{$parent.emote.url}}" alt="{{$parent.emote.code}}" title="{{$parent.emote.code}}"> by <a href="http://twitter.com/cbenni_o"><img src="/static/img/twitterlogo.png"> @cbenni_o</a>
	</span>
	<span>
		<md-button class="rightbutton" ng-click="showDialog($event,'/static/tos.html')">ToS</md-button>
		<md-button class="rightbutton" ng-click="showDialog($event,'/static/about.html')">About</md-button>
		<md-button class="rightbutton" ng-click="showDialog($event,'/static/contact.html')">Contact</md-button>
	</span>
</div>