<div class="md-whiteframe-3dp footer" layout="row" layout-align="space-between center">
	<span class="hide-s leftpad">
		Made with <img src="{{$parent.emote.url}}" alt="{{$parent.emote.code}}" title="{{$parent.emote.code}}" class="logo"> by <a href="http://twitter.com/cbenni_o"><img src="/html/img/twitterlogo.png" class="logo"> @cbenni_o</a>
	</span>
	<span style="height: 100%;">
		<md-button class="rightbutton" ng-click="showDialog($event,'/html/tos.html')">ToS</md-button>
		<md-button class="rightbutton" ng-click="showDialog($event,'/html/about.html')">About</md-button>
		<md-button class="rightbutton" ng-click="showDialog($event,'/html/contact.html')">Contact</md-button>
		<div class="rightbutton donate-btn" layout="column" layout-align="center center">
			<a href="https://www.twitchalerts.com/donate/cbenni"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></a>
		</div>
	</span>
</div>