<!DOCTYPE html>
<html ng-app="mainapp" ng-controller="mainctrl">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title ng-bind="title + ' - logviewer'">logviewer</title>
	<base href="/">
	<link href="/html/bower_components/angular-material/angular-material.min.css" rel="stylesheet">
	<link href="/html/css/roboto-1-3-4-5-7.css" rel="stylesheet">
	<link href="/html/css/base.css" rel="stylesheet">
	<link href="/html/css/animations.css" rel="stylesheet">
	<link href="/html/css/logviewer.css" rel="stylesheet">
	<link href="/html/css/settings.css" rel="stylesheet">
	<link href="/html/css/list.css" rel="stylesheet">
	<link href="/html/css/leaderboard.css" rel="stylesheet">
	<link href="/html/css/dark.css" disabled ng-disabled="!userSettings.dark" rel="stylesheet">
	
	
	<link rel="apple-touch-icon" sizes="180x180" href="/html/img/apple-touch-icon.png?v=xQoAW3RK4w">
	<link rel="icon" type="image/png" href="/html/img/favicon-32x32.png?v=xQoAW3RK4w" sizes="32x32">
	<link rel="icon" type="image/png" href="/html/img/favicon-16x16.png?v=xQoAW3RK4w" sizes="16x16">
	<link rel="manifest" href="/html/img/manifest.json?v=xQoAW3RK4w">
	<link rel="mask-icon" href="/html/img/safari-pinned-tab.svg?v=xQoAW3RK4w" color="#5bbad5">
	<link rel="shortcut icon" href="/html/img/favicon.ico?v=xQoAW3RK4w">
	<meta name="apple-mobile-web-app-title" content="Logviewer">
	<meta name="application-name" content="Logviewer">
	<meta name="msapplication-config" content="/html/img/browserconfig.xml?v=xQoAW3RK4w">
	<meta name="theme-color" content="#ffffff">
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-54058329-1', 'auto');
		//ga('send', 'pageview');
	</script>
</head>

<body ng-cloak>

<div class="header" layout="row" layout-align="space-between center">
	<div layout="row" layout-align="start center" flex="none">
		<span click-outside="showmenu=false">
			<md-button class="md-fab md-mini fab-nobackground menu-button" ng-click="showmenu = !showmenu;"><md-icon md-svg-src="/html/img/menu.svg"></md-icon></md-button>
			<div class="usermenu" ng-show="showmenu">
				<md-checkbox class="darkbg" ng-model="userSettings.dark" ng-change="saveMode()">Dark mode</md-checkbox><br>
				<md-checkbox class="darkbg" ng-model="userSettings.chat" ng-change="saveMode()">Enable chat</md-checkbox><br>
				<md-checkbox class="darkbg" ng-model="userSettings.lhsChat" ng-change="saveMode()">Chat on the left</md-checkbox>
			</div>
		</span>
		<a ui-sref="index()" ng-if="$stateParams.channel" ui-sref-active="active">Home</a>
		<a ui-sref="channel({channel: $stateParams.channel})" ng-if="$stateParams.channel" ui-sref-active="active">Logs</a>
		<a ui-sref="settings({channel: $stateParams.channel || auth.name})" ng-if="$stateParams.channel || auth.name" ui-sref-active="active">Settings</a>
		<a ui-sref="leaderboard({channel: $stateParams.channel})" ng-if="$stateParams.channel" ui-sref-active="active">Leaderboard <sup class="betatag">new!</sup></a>
		<!--<a ui-sref="l({channel: $stateParams.channel})" ng-if="$stateParams.channel" ui-sref-active="active">Leaderboard</a>-->
	</div>
	<div layout="row" layout-align="end center" flex="none">
		<div ng-show="auth.name" flex="none">
			<md-button class="md-raised twitch-button md-small-xs" ng-click="logout()">Log out<span class="hide-s"> ({{::auth.name}})</span></md-button>
		</div>
		<div ng-hide="auth.name" flex="none">
			<md-button ng-click="login()" class="md-raised twitch-button md-small-xs">Login<span hide-xs> with twitch</span></md-button>
		</div>
	</div>
	
</div>
<div class="notice">Twitch announced native logs, coming in January. <a href="http://www.twitlonger.com/show/n_1sqmtji" target="_blank">Read this for what that means for the future of the logviewer.</a></div>
<ui-view></ui-view>

<div class="gdpr" ng-if="show_gdpr">
This page uses cookies to provide functionality and analytics. By using this page, you consent to the use of cookies. Please note the updated privacy section in the "TOS" section found at the bottom of the page for more information.
<md-button class="md-primary md-raised" ng-click="hide_gdpr()">OK</md-button>
</div>


<script>
var settings = null;
function getGlobalSettings(data) {
	settings = data;
}
</script>
<script src="/api/?callback=getGlobalSettings" data-noconcat=""></script>


<script src="/html/bower_components/angular/angular.min.js"></script>
<script src="/html/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/html/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/html/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/html/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="/html/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/html/bower_components/angular-material/angular-material.min.js"></script>
<script src="/html/bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="/html/bower_components/angular-linkify/angular-linkify.min.js"></script>
<script src="/html/bower_components/socket.io-client/socket.io.js"></script>
<script src="/html/bower_components/angular-socket-io/socket.min.js"></script>

<script src="/html/js/logviewer.js"></script>
<script src="/html/js/settings.js"></script>
<script src="/html/js/leaderboard.js"></script>
<script src="/html/js/list.js"></script>
<script src="/html/js/messageparser.js"></script>
<script src="/html/js/index.js"></script>
</body>

</html>
