<div id="main" ng-click="unselect($event,this)" layout="column" layout-align="space-between center">
<span id="forkongithub"><a href="https://github.com/CBenni/logviewer">Fork me on GitHub</a></span>
<div class="index-page-content content" ng-cloak layout="column" layout-align="center center">
	<h1 class="bigtitle">Logviewer</h1>
	<h5 class="bigtitle">Denying people unbans since 2014</h5>
	<div class="channel-list">
		<div ng-repeat="channel in channels" class="channel-list-item">
			<md-button ng-class="{live: streams[channel], 'channel-live-indicator':true}" ui-sref="channel({channel: channel})">{{channel}}</md-button>
		</div>
	</div>
</div>
<div ng-include="'/static/footer.html'" flex="none"></div>
</div>