<div id="main" ng-click="unselect($event,this)" layout="column" layout-align="space-between center" ng-cloak>
<span id="forkongithub"><a href="https://github.com/CBenni/logviewer">Spoon me on GitHub</a></span>
<div class="index-page-content content" ng-cloak layout="column" layout-align="center center">
	<h1 class="bigtitle">Logviewer</h1>
	<h5 class="bigtitle">Denying people unbans since 2014</h5>
	<div class="channel-list">
		<div ng-repeat="channelObj in channels | orderBy : '-live'" class="channel-list-item">
			<md-button ng-class="{live: channelObj.live, 'channel-live-indicator':true}" ui-sref="channel({channel: channelObj.name})">{{channelObj.name}}</md-button>
		</div>
	</div>
</div>
<div ng-include="'/html/footer.html'" flex="none"></div>
</div>