<div id="main" layout="column" layout-align="space-between center" ng-cloak>
<div class="content" ng-cloak ng-if="loadStatus == 0" layout="row" layout-align="center center">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular> loading...
</div>
<div ng-if="loadStatus != 0 && userObject.level < 10"><!-- empty div for space-between centering --></div>
<div class="content" ng-cloak ng-if="loadStatus != 0 && userObject.level < 10" layout="row" layout-align="center center" layout-xs="column">
	<div flex="none" class="big-error-icon">
		<md-icon md-svg-src="/html/img/error.svg"></md-icon>
	</div>
	<div style="font-size: 20px;" flex="none">
		 You currently do not have access to change settings of the channel {{channel}}.<br>
		<span ng-if="userObject.valid == false">If you have {{10 | aAnAccountType }} account, then you can <md-button ng-click="login()" class="md-raised twitch-button md-small">Login with twitch</md-button></span>
	</div>
</div>
<div class="content" ng-cloak ng-show="loadStatus != 0 && userObject.level >= 10">
	<h3>Event log</h3>
	<div class="event-log" scroll-to-bottom layout-padding>
		<div class="event-item" ng-repeat="event in events">
			<span ng-class="{'event-icon': true, 'event-{{event.action}}': true}">{{event.action}}</span> <span class="eventDescription">{{event.user}} {{event.desc}}</span>
		</div>
	</div>
	<h3>Settings</h3>
	<md-checkbox ng-model="settings.active" ng-true-value="1" ng-false-value="0">Enable the logviewer</md-checkbox></li>
	<h3>Permissions</h3>
	<md-select ng-model="settings.viewlogs" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="1">logged in users</md-option>
			<md-option value="2">regulars</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="7">super-moderators</md-option>
			<md-option value="10">managers</md-option>
		</md-select> can read logs<br>
	<md-select ng-model="settings.viewcomments" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="1">logged in users</md-option>
			<md-option value="2">regulars</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="7">super-moderators</md-option>
			<md-option value="10">managers</md-option>
		</md-select> can read comments<br>
	<md-select ng-model="settings.writecomments" class="inlineselect">
			<md-option value="1">logged in users</md-option>
			<md-option value="2">regulars</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="7">super-moderators</md-option>
			<md-option value="10">managers</md-option>
		</md-select> can write comments<br>
	<md-select ng-model="settings.deletecomments" class="inlineselect">
			<md-option value="1">logged in users</md-option>
			<md-option value="2">regulars</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="7">super-moderators</md-option>
			<md-option value="10">managers</md-option>
		</md-select> can delete comments<br>
	</ul>
	<h3>Editors</h3>
	<table class="settingstable">
		<tr>
			<th>Username</th>
			<th>Level</th>
		</tr>
		<tr ng-repeat="user in levels">
			<td>
				<md-input-container class="nobottom">
					<input ng-model="user.nick" ng-change="addEmptyRow()"></input>
				</md-input-container>
			</td>
			<td>
				<md-input-container class="nobottom">
					<md-select ng-model="user.level" class="inlineselect">
						<md-option value="0">default</md-option>
						<md-option value="2">regular</md-option>
						<md-option value="5">moderator</md-option>
						<md-option value="7">super-moderator</md-option>
						<md-option value="10">manager</md-option>
						<md-option value="50" ng-if="userObject.level == 1337">admin</md-option>
						<md-option value="1337" ng-if="userObject.level == 1337">dev</md-option>
					</md-select>
				</md-input-container>
			</td>
		</tr>
	</table>
	<md-button class="md-primary md-raised" ng-click="save()" ng-disabled="!settingsChanged()">
	SAVE
	</md-button>
</div>
<div ng-include="'/html/footer.html'"></div>
</div>