<div id="main">
<div id="content" ng-cloak>
	<h3>Permissions</h3>
	<ul>
		<li><md-select ng-model="settings.viewlogs" ng-change="onchange()" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can read logs</li>
		<li><md-select ng-model="settings.viewcomments" ng-change="onchange()" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can read comments</li>
		<li><md-select ng-model="settings.writecomments" ng-change="onchange()" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can write comments</li>
		<li><md-select ng-model="settings.deletecomments" ng-change="onchange()" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can delete comments</li>
		<li>Editors:<br>
		<md-input-container>
			<textarea rows="5" ng-model="settings.editors">
			</textarea>
		</md-input-container>
		</li>
	</ul>
	<md-button class="md-primary md-raised">
	SAVE
	</md-button>
</div>
</div>