<div id="main">
<div id="content" ng-cloak>
	<h3>Settings</h3>
	<ul>
		<li><md-checkbox ng-model="settings.active" ng-true-value="1" ng-false-value="0">Enable the logviewer</md-checkbox></li>
	</ul>
	<h3>Permissions</h3>
	<ul>
		<li><md-select ng-model="settings.viewlogs" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="1">logged in users</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can read logs</li>
		<li><md-select ng-model="settings.viewcomments" class="inlineselect">
			<md-option value="0">everyone</md-option>
			<md-option value="1">logged in users</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can read comments</li>
		<li><md-select ng-model="settings.writecomments" class="inlineselect">
			<md-option value="1">logged in users</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can write comments</li>
		<li><md-select ng-model="settings.deletecomments" class="inlineselect">
			<md-option value="1">logged in users</md-option>
			<md-option value="5">moderators</md-option>
			<md-option value="10">editors</md-option>
		</md-select> can delete comments</li>
	</ul>
	<h3>Editors</h3>
	<table class="settingstable">
		<tr>
			<th>Username</th>
			<th>Level</th>
		</tr>
		<tr ng-repeat="user in levels">
			<td>
				<md-input-container class="nobottom">
					<input ng-model="user.nick"></input>
				</md-input-container>
			</td>
			<td>
				<md-input-container class="nobottom">
					<md-select ng-model="user.level" class="inlineselect">
						<md-option value="0">default</md-option>
						<md-option value="2">regular</md-option>
						<md-option value="5">moderators</md-option>
						<md-option value="10">editors</md-option>
					</md-select>
				</md-input-container>
			</td>
		</tr>
		<tr>
			<td>
				<md-input-container class="nobottom">
					<input ng-model="newuser" ng-blur="addNewUser()"></input>
				</md-input-container>
			</td>
			<td>
				<md-input-container class="nobottom">
					<md-select ng-model="newlevel" class="inlineselect">
						<md-option value="0">default</md-option>
						<md-option value="2">regular</md-option>
						<md-option value="5">moderator</md-option>
						<md-option value="10">editor</md-option>
					</md-select>
				</md-input-container>
			</td>
		</tr>
	</table>
	<md-button class="md-primary md-raised" ng-click="save()">
	SAVE
	</md-button>
</div>
</div>